*{
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.wrapper {
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    height: 770px;
}

.navigation {
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.logo {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 79px;
    top: 18px;
}
.logo:hover{
    color: #3CB878;
}
.navigation-login:before{
    content: "";
    border-left: 1px solid #fff;
    height: 19px;
    margin-right: 19px;
}

.form-wrapper {
    width: 444px;
    height: 584px;
    margin: 54px auto 0 auto;
    background-color: #fff;
    position: relative;
}
.green-square{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.icons-bar{
    display: flex;
    width: 126px;
    justify-content: space-between;
    margin-right: 20px;
}
.icon-item:hover path{
    fill: #3CB878;
}
.icons-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 79px;
    padding-top: 18px;
}
.navigation-login {
    color: #ffffff;
}
.navigation-login:before {
    content: "";
    height: 19px;
    border-left: 1px solid #fff;
    opacity: 0.9;
}

.navigation-login a {
    color: #fff;
}
.navigation-login a:hover {
    color: #3CB878;
}
.form-header-container{
    padding-top: 27px;
    width: 324px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.form-header {
    font-size: 20px;
    line-height: 1;
    color: #434343;
}
.log-in{
color: #3CB878;
    font-size: 14px;
}
.log-in:hover{
    color: #01813F;
    text-decoration: underline;
}
.devider{
    display: flex;
   justify-content: center;
    margin-top: 40px;
    font-size: 14px;
    color: #848484;
    padding-left: 5px;
}
.devider:before{
    content: "";
    width: 152px;
    border-bottom:1px solid #F2F2F2;
    margin-bottom: 5px;
    margin-right: 5px;
}
.devider:after{
    content: "";
    width: 152px;
    border-bottom:1px solid #F2F2F2;
    margin-bottom: 5px;
    margin-left: 5px;
}
.social-media-container{
    display: flex;
}
.facebook {
    display: flex;
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    background-image: url("/img/F.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 16px 12px;
    color: #fff;
    font-size: 16px;
    margin-left: 60px;
    margin-top: 15px;
    padding-right: 22px;
    align-items: center;
    justify-content: end;
}
.facebook span:before{
    content: "";
    border-left: 1px solid #0A162F;
    margin-right: 18px;
    height: 28px;
    opacity: 0.3;
}
.facebook:hover{
    background-color: #022263;
}
.google-plus {
    display: flex;
    width: 160px;
    height: 48px;
    background-image: url("/img/G+.png");
    background-repeat: no-repeat;
    background-position: 12px 15px;
    background-size: 30px 19px;
    background-color: #DF4A32;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 4px;
    padding-right: 27px;
    align-items: center;
    justify-content: end;
}
.google-plus span:before{
    content: "";
    border-left: 1px solid #0A162F;
    margin-right: 30px;
    height: 28px;
    opacity: 0.3;
}
.google-plus:hover{
    background-color: #AB1F09;
}
.registration-form{
    margin: 15px auto;
    width: 322px;
}
.form-item{
    width: 322px;
    height: 44px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    font-size: 14px;
    boder-radius: 4px;
    padding-left: 20px;
}
.form-item::placeholder{
    color: #BEBEBE;
}

.form-item:focus{
    border-color: #ffffff;
    color: #434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}
.simple-checkbox {
    height: 20px;
    width: 20px;
    display: none;
}

.custom-checkbox-label {
    position: relative;

}
.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
}

.custom-checkbox:checked + .checkmark {
    background-color: #fff;
}

.custom-checkbox:checked + .checkmark:after {
    content: '\2713';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    color: #01813F;
    text-align: center;
}

.custom-checkbox-label a{
    color: #3CB878;
}
.custom-checkbox-label a:hover{
    color: #01813F;
    text-decoration: underline;
}


input[type=submit]{
    width: 324px;
    height: 46px;
   background-color: #3CB878;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
input[type=submit]:hover{
    background-color: #01813F;
}